<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy;<a href="https://github.com/MaatheusGois" target="_blank">Maatheus Gois 2023</a></span>
        </div>
    </div>
</footer>
<!-- End of Footer -->