<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <p class="text-center">Apoiadores</p>
        <div class="row text-center justify-content-center">
            <a href="https://www5.each.usp.br/" target="_blank">
                <div class='m-1 mt-4 mb-4 bg-each-image'></div>
            </a>
            <a href="http://ppgsi.each.usp.br/" target="_blank">
                <div class='m-1 mt-4 mb-4 bg-ppgsi-image'></div>
            </a>
            <a href="https://www.mackenzie.br/" target="_blank">
                <div class='m-1 mt-4 mb-4 bg-mack-image'></div>
            </a>
            <a href="https://mackcloud.mackenzie.br/" target="_blank">
                <div class='m-1 mt-4 mb-4 bg-mack-cloud-image'></div>
            </a>
        </div>

        <div class="copyright text-center my-auto">
            <span>Copyright &copy;<a href="https://github.com/MaatheusGois" target="_blank">Maatheus Gois
                    2023</a></span>
        </div>
    </div>
</footer>
<!-- End of Footer -->