.btn-primary {
    background-color: #167f42;
    border-color: #167f42;
}

.atende-pet-logo {
    height: 40px;
    width: 40px;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

body {
    font-family: 'Montserrat',
        sans-serif;
}

/* .atende-pet-logo:before {
    content: "\f1b0";
} */

.collapse-tr {
    display: none;
}

.collapse-tr:target {
    display: table-row;
}

.bg-image {
    height: 60px;
    width: 60px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: 60px 60px;
}

.bg-sbc-image {
    height: 60px;
    width: 180px;
    background-image: url('../img/sbc_logo.png');
    background-repeat: no-repeat;
    background-size: 180px 60px;
    border-radius: 4px;
}

.bg-each-image {
    height: 60px;
    width: 60px;
    background-image: url('../img/each.png');
    background-repeat: no-repeat;
    background-size: 60px 60px;
}

.bg-ppgsi-image {
    height: 60px;
    width: 60px;
    background-image: url('../img/ppgsi.png');
    background-repeat: no-repeat;
    background-size: 60px 60px;
}

.bg-mack-image {
    height: 60px;
    width: 60px;
    background-image: url('../img/mack.png');
    background-repeat: no-repeat;
    background-size: 60px 60px;
}

.bg-mack-cloud-image {
    height: 60px;
    width: 80px;
    background-image: url('../img/mack-cloud.png');
    background-repeat: no-repeat;
    background-size: 80px 60px;
}

.title {
    font-weight: 600;
}

.title-row {
    margin-left: 1vw;
}

.btn-export {
    height: 40px;
}

#loaderModal {
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the translucency by modifying the alpha value */
}

.modal-body {
    text-align: center;
}

#loaderModal {
    display: none !important;
}

@media (max-width: 978px) {

    .container,
    .container-fluid {
        padding: 0;
        margin: 0;
    }

    body {
        padding: 0;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .h4 {
        font-size: 1rem;
        padding: 0.5em;
    }
}

.custom-control-input-green:focus~.custom-control-label::before {
    border-color: #167f42 !important;
    box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.25) !important;
}

.custom-control-input-green:checked~.custom-control-label::before {
    border-color: #167f42 !important;
    background-color: #167f42 !important;
}

.custom-control-input-green:focus:not(:checked)~.custom-control-label::before {
    border-color: #65d192 !important;
}

.custom-control-input-green:not(:disabled):active~.custom-control-label::before {
    background-color: #d6f5dd !important;
    border-color: #d6f5dd !important;
}