html {
	height: 100%;
	font-family: Helvetica;
	font-size: 14px;
}

#divContainer {
	width: 100%;
	display: table;
}

#divMenu {
	float: left;
}

#divConteudo {
	height: 200px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px;
	border-bottom: 1px solid #ccc;
	box-shadow: 4px 4px 16px #969696;
}

ul li {
	position: relative;
}

li ul {
	position: absolute;
	left: 149px;
	top: 0;
	display: none;
}

ul li a {
	display: block;
	text-decoration: none;
	color: #777;
	background: #fff;
	padding: 5px;
	border: 1px solid #ccc;
	border-bottom: 0;
}

li:hover ul {
	display: block;
}

.unavailable {
	text-decoration: line-through;
}

.item {
	font-size: 10px;
}


.btn-geral {
	display: none;
	float: left;
}

#paragraphTextDiscussion {
	display: block;
}

#textDiscussion {
	width: 80vh;
	height: 90%;
}

#formDiscussion {
	display: block;
	height: 70%;
}

#standard-discussions {
	display: block;
	width: 20%;
	height: 90%;
	float: left;
	box-shadow: 4px 4px 16px #969696;
	padding: 10px;
	margin-left: 5%;
}

.images {
	width: 90%;
	margin: 5% 0% 0% 15%;
	float: left;
	display: block;
}

.image {
	overflow: hidden;
	width: 85px;
	height: 85px;
	cursor: pointer;
	margin: 0px 0px 20px 0px;
}

.image:hover {
	box-shadow: 4px 4px 16px #969696;
}

.standard-discussions {
	padding: 15px 0px 15px 0px;
}

.standard-discussions span {
	float: left;
}

.group-visualisations {
	display: none;
}

.group-visualisations a {
	padding-left: 15%;
}

.titleImages {
	float: left;
	width: 100%;
	margin: 0px 0px 10px 0px;
}

.visu-title {
	margin: 0% 0% 0% 5%;
}